deb {{ repo_source_url }}/debian/ bullseye main non-free contrib
deb-src {{ repo_source_url }}/debian/ bullseye main non-free contrib
deb {{ repo_source_url }}/debian-security/ bullseye-security main
deb-src {{ repo_source_url }}/debian-security/ bullseye-security main
deb {{ repo_source_url }}/debian/ bullseye-updates main non-free contrib
deb-src {{ repo_source_url }}/debian/ bullseye-updates main non-free contrib
deb {{ repo_source_url }}/debian/ bullseye-backports main non-free contrib
deb-src {{ repo_source_url }}/debian/ bullseye-backports main non-free contrib
