deb {{ repo_source_url }}/debian/ buster main non-free contrib
deb-src {{ repo_source_url }}/debian/ buster main non-free contrib
deb {{ repo_source_url }}/debian-security buster/updates main
deb-src {{ repo_source_url }}/debian-security buster/updates main
deb {{ repo_source_url }}/debian/ buster-updates main non-free contrib
deb-src {{ repo_source_url }}/debian/ buster-updates main non-free contrib
deb {{ repo_source_url }}/debian/ buster-backports main non-free contrib
deb-src {{ repo_source_url }}/debian/ buster-backports main non-free contrib
